body {
  font-family: "Roboto", sans-serif;
  color: #545E6C;
  background: #f5f5f5;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #2196f3;
  transition: all 0.4s ease-in-out;
}

a:focus {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.wrapper {
  background: #155db1;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
  background: #155db1;
  position: absolute;
  right: 0;
  width: 270px;
  height: 100%;
  min-height: 800px;
  color: #fff;
}

.sidebar-wrapper a {
  color: #fff;
}

.sidebar-wrapper .profile-container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}

.sidebar-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}

.sidebar-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.sidebar-wrapper .profile {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  width: 100%;
  border-radius: 50%;
  border: 8px solid #0c3c72;

}



.sidebar-wrapper .container-block {
  padding: 30px;
}

.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
}

.sidebar-wrapper .languages-container .lang-desc {
  color: rgba(255, 255, 255, 0.6);
}

.sidebar-wrapper .interests-list {
  margin-bottom: 0;
  padding-left: 15px;
  list-style-position: outside;
}

.sidebar-wrapper .interests-list li {
  margin-bottom: 0px;
  color: #fff;
  margin-left: 0;
  padding-left: 15px;
  text-indent: -15px;
}

.sidebar-wrapper .interests-list li::marker {
  margin-right: 50px;
}

.sidebar-wrapper .interests-list li:last-child {
  margin-bottom: 0;
}

.main-wrapper {
  background: #fff;
  padding: 60px;
  padding-right: 300px;
}

.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #155db1;
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.main-wrapper .section-title .icon-holder {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  background: #155db1;
  text-align: center;
  font-size: 16px;
}

.main-wrapper .section-title .icon-holder .svg-inline--fa {
  font-size: 14px;
}

.main-wrapper .section {
  margin-bottom: 40px;
}

.main-wrapper .experiences-section .item {
  margin-bottom: 30px;
}

.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}

.main-wrapper .job-title {
  color: #3F4650;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.main-wrapper .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
}

.main-wrapper .company {
  margin-bottom: 10px;
  color: #6d88ab;
}



.main-wrapper .experiences-section .details ul li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer {
  padding: 30px;
  padding-top: 60px;
}

.contact-container a {
  margin-left: 5px;
  margin-bottom: 5px;
}

.contact-container div {
  margin-bottom: 5px;
}

.contact-container i {
  font-size: 5em;
}

@media (max-width: 767.98px) {
  .sidebar-wrapper {
    position: static;
    width: inherit;
  }

  .main-wrapper {
    padding: 30px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}